# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Django Migrations
*/migrations/
*/migrations/*.pyc

# Virtualenv
venv/
env/
.venv/
.env/

# Django Stuff
db.sqlite3
*.sqlite3
/media/
/staticfiles/
static/
*.log

# IDEs y editores
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Archivos de configuración
.env
*.env

# Docker
*.pid
*.sock
celerybeat-schedule
celerybeat.pid

# Compilación y cachés
__pycache__/
*.egg-info/
*.egg
dist/
build/
