{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test</title>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    {% block css_special %}
    {% endblock %}
    {% load livereload_tags %}
    {% livereload_script %}
  </head>

  <body class="background">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <aside class="left-section">
      <h1>TITLE FOR APP</h1>
      <div>
        <ul>
          <li>Perfil 👤</li>
          <li>Cuentas 📊</li>
          <li>Inversiones 💸</li>
          <li>Detalles 📋</li>
          <li>Negocios 💼</li>
          <li>Dashboard 💻</li>
          <li>Contacto 📱</li>
          <li>Ayuda 📣</li>
        </ul>
      </div>
    </aside>

    <main>
      {% block content %}

      {% endblock %}
    </main>

    <aside class="right-section">
      <div>
        <h1>Criptomonedas</h1>
        {% for crypto in data_crypto %}
          <div class="" style="margin: 15px;">
            <div style="display: flex; align-items: center; ">
              <img src="{{ crypto.image }}" style="width: 20%; height: 20%; margin-right: 10px;" />
              <div style="display: flex; gap:10px; align-items: center; justify-content: space-between;">
                <div>
                  <p style="font-weight: 800; font-size: 16px;">{{ crypto.name }}</p>
                  {% if crypto.price_change_percentage_24h > 0 %}
                    <p style="font-size: 13px;  color:greenyellow">{{ crypto.price_change_percentage_24h }}%</p>
                  {% else %}
                    <p style="font-size: 13px; color:rgb(238, 94, 94) ;">{{ crypto.price_change_percentage_24h }}%</p>
                  {% endif %}
                </div>

                <p style="text-align: end;">${{ crypto.current_price }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      <div>
        <h1>Mercado Acciones</h1>
        {% for stock in data_stocks %}
          <div style="margin: 15px;">
            <div style="display: flex; align-items: center; gap:10px">
              <img src="{{ stock.LogoURL }}" style="width: 20%; height: 20%;" />
              <div style="display: flex; gap:25px; align-items: center;">
                <div>
                  <p style="font-weight: 800; font-size: 20px;">{{ stock.name }}</p>
                </div>

                <p>${{ stock.current_price }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </aside>
  </body>
</html>
