{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test</title>

    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}" />
    <link rel="stylesheet" href="{% static 'src/custom.css' %}" />
    {% endcompress %}
    {% load livereload_tags %}
    {% livereload_script %}
  </head>

  <body class="bg-green-500">
    <div class="flex">
      <aside class="background__aside h-screen w-[15%] ms-5 my-5 rounded-lg">
        <div class="flex justify-center items-center align-middle">GINO STAKING</div>
        <div>
          <ul class="flex flex-col mt-20">
            <li class="hover:shadow-md">Perfil 👤</li>
            <li class="hover:shadow-md">Cuentas 📊</li>
            <li class="hover:shadow-md">Inversiones 💸</li>
            <li class="hover:shadow-md">Detalles 📋</li>
            <li class="hover:shadow-md">Negocios 💼</li>
            <li class="hover:shadow-md">Dashboard 💻</li>
            <li class="hover:shadow-md">Contacto 📱</li>
            <li class="hover:shadow-md">Ayuda 📣</li>
          </ul>
        </div>
      </aside>
      {% block content %}

      {% endblock %}
      {{data_crypto}}
      <aside class="w-[12%] ms-5 my-5 flex flex-col gap-5">
        <div class="bg-orange-300 rounded-lg">
          <ul>
            <li>Criptomonedas</li>
            <div class="">
              <li class="flex gap-5 hover:shadow-md">
                <div>
                    icono
                </div>
                <div class=" gap-5">
                    <p>Bitcoin</p>
                    <div class="flex gap-5">
                        <p>$ 100000</p>
                    <p>50%</p>
                    </div>
                </div>
              </li>
              <li class=" hover:shadow-md">Ethereum 📊</li>
              <li class=" hover:shadow-md">Theter 💸</li>
              <li class=" hover:shadow-md">Tron 📋</li>
            </div>
          </ul>
        </div>

        <div class="bg-zinc-200 rounded-lg">
          <ul>
            <li>Mercado bienes</li>
            <div class="">
              <li class="hover:shadow-md">Oro 👤</li>
              <li class="hover:shadow-md">Petroleo 📊</li>
              <li class="hover:shadow-md">Plata 💸</li>
              <li class="hover:shadow-md">Cafe 📋</li>
            </div>
          </ul>
        </div>

        <div class="bg-zinc-200 rounded-lg">
          <ul>
            <li>Acciones</li>
            <div class="">
              <li class="hover:shadow-md">Tesla 👤</li>
              <li class="hover:shadow-md">Apple 📊</li>
              <li class="hover:shadow-md">Nvidia 💸</li>
              <li class="hover:shadow-md">AMD 📋</li>
            </div>
          </ul>
        </div>
      </aside>
    </div>
  </body>
</html>
