:root {
    --primary-color: #4a90e2;
    --secondary-color: #7e7c7c;
    --text-color: #333;
  }

.background__aside{
    background-color: var(--secondary-color);
}



ul li{
    padding: 20px;
    transition: .5s ease-in-out;
}


